#about {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}

#about h1,
#about p {
  margin: 0 1em;
}

button.continue {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--mainWidth);
  color: black;
}


label {
  margin: 0 0 1.2em 0;
}