#review {
  font-size: 0.667em;
  --size: 1.5em;
  --gap: 1.5em;
  --left: calc(var(--size) + var(--gap));
  --space: calc(100vw - var(--left));

  #files {
    position: absolute;
    top: 3em;

    & button {
      display: block;
      position: relative;
      width: var(--size);
      height: var(--size);
      background-color: transparent;
      border-radius: 0.25em;

      &.selected {
        background-color: #000;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    width: var(--space);
    height: 100vh;
    margin: 0 auto;
    overflow: auto;

    & li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 7.5em;
      margin: 0.25em;
      border: 1px outset #888;
      border-radius: 0.25em;

      &:hover {
        color: #fff;
      }

      &.selected,
      &:hover:active {
        border-style: inset;
        background-color: #000;
      }

      span {
        width: 3.5em;
        text-align: left;
      }

      img {
        width: 50%;
        border-radius: 0;
      }
    }
  }

  #selected {
    margin-top: 1em;
    display: flex;
    justify-content: center;

    & .buttons {
      display: flex;

      & button {
        position: relative;
        height: 1.5em;
        width: 3em;
        font-size: inherit;
        background-color: transparent;
      }
      
      &.scroll button {
        width: 1.5em;

        &:disabled {
          opacity: 0.25;
        }

        & img {
          width: 90%;
          height: 90%;
        }
      }
    }

    p {
      margin: 0 0.5em;
      width: 4em;
    }

    & input {
      position: relative;
      font-size: inherit;
      width: 4em;
      background: transparent;
      color: var(--light);
    }
  }
}