#review { 
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%; */


  & ul.phonemes {
    position: relative;
    bottom: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    & li {
      border: 1px outset #888;
      padding: 0;

      & label {
        display: block;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        padding: 0;
        margin: 0;

        & input {
          position: absolute;
          top: -1vh;
        }
      }
    }
  }

  & ul.words {
    position: fixed;
    top: 20vh;
    height: 80vh;
    width: 5em;
    text-align: left;
    border: 1px solid black;
    padding: 0;
    overflow: auto;

    & li {
      padding: 0.25em 0.5em;
      border: 1px outset #888;
      border-radius: 0.5em;
      margin: 0;

      & label {
        padding: 0;
        margin: 0;
      }

      & input {
        position: absolute;
        left: -20px;
      }
    }
  }

  div.card {
    position: absolute;
    right: 0;
    top: 200px;

    img {
      position: relative;
      max-width: 60vw;
    }

    p,
    input[type=text],
    button {
      margin: 0;
      height: auto;
      position: relative;
    }

    button {
      background-color: transparent;

      &:disabled {
        opacity: 0.25;
      }
    }
  }
}




li:has(input:checked) {
  background-color: #060;
  border-style: inset;
}