ul#index {
  font-size: 0.9rem;
  --size: 1.25em;
  --borderWidth: 0.05em;
  --btnSize: calc(2* var(--borderWidth) + var(--size));
  --phonemeWidth: calc(1.333 * var(--size));
  --progressColor: rgba(255, 255, 255, 0.2);
  margin-top: var(--iconSize);
  width: 100%;
  right: auto;
  bottom: auto;

  & li {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    border: none;
    padding: 0;

    &.current {
      background-color: #33c;

      &:hover {
        background-color: #333
      }
    }

    & button {
      position: relative;
      height: var(--btnSize);
      border-width: var(--borderWidth);
      border-radius: var(--corner);
      background-color: transparent;
      padding: 0;
      cursor: pointer;
      font-size: 1em;

      &:disabled {
        opacity: 0.25;
      }

      &.phoneme {
        display: block;
        width: var(--phonemeWidth);
      }

      &.word {
        width: 5em;
        display: flex;
        justify-content: flex-end;

        &:last-child {
          justify-content: flex-start;
        }

        & span {
          flex-grow: 1;
          text-align: center;
        }

        & img {
          width: var(--size);
        }
      }


      &.select {
        height: var(--btnSize);
        width: var(--btnSize);
        background-color: #666;
        border-radius: 0.25em;

        &:hover {
          background-color: var(--rightPhonemeColor);
        }
      }
    }


    & div.progress {
      width: 1em;
      height: 0.5em;
      border: 1px solid var(--progressColor);
      margin: 0.5em;
      flex-grow: 1;

      & > div {
        height: 100%;
        background-color: var(--progressColor);
      }
    }
  }

  #contact {
    --min-height: 100px;
    --height: max(var(--min-height), 50vh);
    --vertical: calc((100vh - var(--height)) / 2);
    margin: var(--vertical) auto;
    position: relative;
    height: 50vh;
    width: 50vw;

    h1 {
      margin: 0;
    }

    a {
      color: #fec;

      &:visited {
        color: #fe9;
      }
    }
  }
}