:root {
  font-size: 10vmin;
  --corner: 0.25rem;
  --bgColor: #000;
  --edge: 0.01rem;
  --edgeColor: #fff;
  --seamColor: #fff8;
  --pocketTop: 8vmin;
  --pocketSize: calc(50vmin - var(--pocketTop));
  --pocketColor: rgba(0,0,0,0.85);
  --buttonOffset: calc(5 * var(--edge));
  --buttonTop: calc(var(--pocketTop) + var(--buttonOffset));
  --buttonSize: 20vmin;
  --buttonFont: 15vmin;
  --font: 'Times New Roman', Times, serif;
  --bgOpacity: 0.33;
  --phonetic: rgba(0,0,0,var(--bgOpacity));
  --spelling: rgba(255,255,255,var(--bgOpacity));
  --ruleColor: #666;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bgColor);
  font-family: var(--font);
  font-size: 7.5vmin;
  text-align: center;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-height: 200vw;
  overflow: hidden;
  /* background-color: #333; */
}

div {
  box-sizing: border-box;
}

.pairs {
  position: relative;
  height: 100vmin;
  margin-top: 25vmin;
  /* background-color: #600; */
}

.phonemes {
  position: absolute;
  display: flex;
  bottom: 0;
  height: 50vmin;
  width: 100vmin;
  /* background-color: #003; */
}

[class|=card] {
  border: var(--edge) solid var(--edgeColor);
  border-radius: var(--corner);
  height: 25vmin;
  box-sizing: border-box;
}

[class|=card] p {
  position: absolute;
  margin: 0;
  width: 100%;
}

p.phonetic {
  top: 0;
  color: #fff;
  background-color: var(--phonetic);
  border-top-left-radius: var(--corner);
  border-top-right-radius: var(--corner);
  font-style: italic;
}

p.spelling {
  bottom: 0;
  background-color: var(--spelling);
  border-bottom-left-radius: var(--corner);
  border-bottom-right-radius: var(--corner);
}

img {
  top: 0;
  left: 0;
  width: 100%;
  border-radius: var(--corner);
}

img.illustration,
.pairs p {
  opacity: 0;
}

img.icon {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
  /* opacity: 0; */
}

.pairs [class|=card] {
  position: absolute;
  left: 25vmin;
  top: 25vmin;
  width: 50vmin;
  height: 50vmin;
  background-color: var(--bgColor);
}

.pairs div.card-decoy {
  transform: rotate(15deg)
}

.pocket {
  position: absolute;
  bottom: 0;
  height: var(--pocketSize);
  width: 100%;
  background-color: var(--pocketColor);
  border: var(--edge) dashed var(--seamColor);
  border-top-style: solid;
}

.phonemes [class|=card]{
  /* border: none; */
}

.phonemes > div {
  position: relative;
  width: 50vmin;
}

.phonemes img {
  /* display: none; */
}

button {
  position: absolute;
  top: var(--buttonTop);
  left: var(--buttonOffset);
  width: var(--buttonSize);
  height: var(--buttonSize);
  font-size: var(--buttonFont);
  background-color: #18181888;
  color: white;
  border-radius: var(--corner);
  border-color: #444;
  font-family: var(--font);
  font-style: italic;
}

.phoneme-2 button {
  left: auto;
  right: var(--buttonOffset);
}

p.rule {
  position: absolute;
  top: var(--buttonTop);
  width: 100%;
  margin: 0;
  color: var(--ruleColor);
  font-size: 0.75em;
}