:root {
  /* Customize background colour */
  --r: 0;
  --g: 0;
  --b: 0;
  --a: 0.85;
  --bgColor: rgb(var(--r), var(--g), var(--b));
  --color: #fff;

  /* Customize unit size for cards, as standard dimension  */
  --mainAxis: 100vh;
  --crossAxis: 100vw;
  --unit: min(var(--crossAxis) / 2, var(--mainAxis) / 2.25);

  /* Fonts */
  --font: 'Times New Roman', Times, serif;
  font-size: calc(0.125 * var(--unit));
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bgColor);
  color: var(--color);
  font-family: var(--font);
  text-align: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 200vh;
  max-height: 200vw;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

@media (min-aspect-ratio: 1/1) {
  :root {
    --mainAxis: 100vw;
    --crossAxis: 100vh;
  }
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}